<div class="timeline-pt" id="photos-timeline" role="tabpanel">
  <!-- Photos -->
  <div class="intro box">
    <div class="intro-title">
      Photos <span class="photo-count">6 photos</span>
    </div>
    <div class="photo-grid">
      <img
        src="assets/pic.jpg"
        (click)="previewImage('assets/pic.jpg')"
        alt="Mountain view at sunset"
      />
      <img
        src="assets/pic.jpg"
        (click)="previewImage('assets/pic.jpg')"
        alt="Beach vacation photo"
      />
      <img
        src="assets/pic.jpg"
        (click)="previewImage('assets/pic.jpg')"
        alt="Friends gathering"
      />
      <img
        src="assets/pic.jpg"
        (click)="previewImage('assets/pic.jpg')"
        alt="City skyline"
      />
      <img
        src="assets/pic.jpg"
        (click)="previewImage('assets/pic.jpg')"
        alt="Nature hike"
      />
      <img
        src="assets/pic.jpg"
        (click)="previewImage('assets/pic.jpg')"
        alt="Celebration party"
      />
    </div>
  </div>
</div>
