@layer timelines {
  @layer timeline {
    .timeline {
      display: flex;
      padding-top: 20px;
      position: relative;
      z-index: 2;
    }

    .timeline-left {
      width: 310px;
      flex-shrink: 0;
    }

    .timeline-right {
      flex-grow: 1;
      padding-left: 20px;
    }
  }
}
