<div class="timeline">
  <div class="timeline-right">
    <app-create-post-box />

    <app-stories />

    @for (post of posts(); track post.id) {
    <div class="album box">
      <div class="status-main">
        <img [src]="post.author.avatar" class="status-img profile-pic" />
        <div class="album-detail">
          <div class="album-title">
            <strong>{{ post.author.name }}</strong>
            @if (post.feeling) {
            <span class="post-tag feeling-tag">
              {{ post.feeling.emoji }} {{ post.feeling.label }}
            </span>
            } @if (post.status) {
            <span class="post-tag status-tag">
              {{ post.status.emoji }} {{ post.status.label }}
            </span>
            }
          </div>
          <div class="album-date">{{ post.date }}</div>
        </div>
        <button class="intro-menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
            />
          </svg>
        </button>
      </div>
      <div class="album-content">
        <div class="album-text-wrapper">
          <div class="album-text" [attr.data-expanded]="post.isExpanded">
            {{ post.content }}
          </div>
          @if (shouldShowSeeMore(post.content) && !post.isExpanded) {
          <button class="see-more-btn" (click)="toggleExpand(post.id)">
            See More
          </button>
          }
        </div>

        @if (post.images && post.images.length > 0) {
        <div class="album-photos {{ getImageGridClass(post.images) }}">
          @for (image of post.images; track $index) {
          <img
            [src]="image"
            alt="Post image"
            class="album-photo"
            (click)="previewImage(image)"
          />
          }
        </div>
        }
      </div>
      <div class="album-actions">
        <button
          href="#"
          class="album-action-btn"
          (click)="togglePostLike(post.id)"
        >
          <svg
            [class.liked]="post.isLiked"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            viewBox="0 0 24 24"
            class="album-action-btn__like"
          >
            <path
              d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
            />
          </svg>
          {{ post.likes }}
        </button>
        <button
          href="#"
          class="album-action-btn"
          (click)="openPostDetails(post.id)"
        >
          <svg
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="css-i6dzq1"
            viewBox="0 0 24 24"
          >
            <path
              d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z"
            />
          </svg>
          {{ post.comments }}
        </button>
        <button href="#" class="album-action-btn">
          <svg
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="css-i6dzq1"
            viewBox="0 0 24 24"
          >
            <path d="M17 1l4 4-4 4" />
            <path d="M3 11V9a4 4 0 014-4h14M7 23l-4-4 4-4" />
            <path d="M21 13v2a4 4 0 01-4 4H3" />
          </svg>
          {{ post.shares }}
        </button>
      </div>
    </div>
    }
  </div>
</div>

<app-story-viewer-modal />