<div class="box">
  <div class="stories-container">
    <div class="stories-scroll" #storiesScroll>
      <!-- Add Story Button -->
      <div class="story-item add-story-item" (click)="openAddStoryModal()">
        <div class="add-story-circle">
          <svg
            class="add-story-icon"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
        </div>
        <div class="story-user">Add Story</div>
      </div>

      <!-- Stories List -->
      @for (story of stories(); track story.id; let i = $index) {
      <div
        class="story-item"
        [class.viewed]="story.viewed"
        (click)="openStory(i)"
      >
        <div class="story-image" [class.viewed]="story.viewed">
          <img [src]="story.image" [alt]="story.user" />
        </div>
        <div class="story-user">{{ story.user }}</div>
      </div>
      }
    </div>
  </div>
  <input 
    type="file" 
    #fileInput 
    id="storyFileInput" 
    accept="image/*" 
    hidden 
    (change)="handleFileInput($event)"
  />
  
  <app-story-type-modal (typeSelected)="onTypeSelected($event)" />
</div>
