<div class="box">
  <div class="stories-container">
    <div class="stories-scroll" #storiesScroll>
      <div class="story-item add-story-item" (click)="fileInput.click()">
        <div class="add-story-circle">
          <svg
            class="add-story-icon"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
        </div>
        <div class="story-user">Add Story</div>
      </div>

      @for (story of storyService.storiesSignal(); track story.id) {
      <div
        class="story-item"
        [class.viewed]="story.viewed"
        (click)="openStory(story)"
      >
        <div class="story-image" [class.viewed]="story.viewed">
          <img [src]="story.image" [alt]="story.user" />
        </div>
        <div class="story-user">{{ story.user }}</div>
      </div>
      }
    </div>
  </div>
  <input
    #fileInput
    type="file"
    accept="image/*"
    hidden
    (change)="handleFileInput($event)"
  />
</div>
