<div class="social-auth-container">
  <picture>
    <img
      src="assets/images/confirmation-password.png"
      alt="Confirmation Password"
    />
  </picture>
  <div class="social-auth-content">
    <h1 class="social-auth-title">Change your password</h1>
    <p>Update your password to keep your account secure.</p>
    <ul role="list" class="social-feature-list">
      <li>
        <span class="social-feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </span>
        Protect your personal information
      </li>
      <li>
        <span class="social-feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </span>
        Avoid unauthorized access
      </li>
      <li>
        <span class="social-feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </span>
        Maintain password hygiene
      </li>
    </ul>

    <form class="social-form">
      <div class="social-form-group with-error-field">
        <label for="new-password">New Password</label>
        <input
          placeholder="New Password"
          type="password"
          id="new-password"
          name="new-password"
          required
          pattern=".{8,}"
          title="New password must be at least 8 characters"
        />
        <span class="social-form-error"
          >Password must be at least 8 characters</span
        >
      </div>

      <div class="social-form-group with-error-field">
        <label for="confirm-new-password">Confirm New Password</label>
        <input
          placeholder="Confirm New Password"
          type="password"
          id="confirm-new-password"
          name="confirm-new-password"
          required
          pattern=".{8,}"
          title="Please confirm your new password"
        />
        <span class="social-form-error">Please confirm your new password</span>
      </div>

      <button class="social-btn">Change password</button>
    </form>
  </div>
</div>
