<div class="right-side" [class.active]="sidebarService.rightSidebarVisible()">
  <div class="search-bar right-search">
    <input
      type="text"
      placeholder="Search"
      [value]="searchTerm()"
      (input)="searchContacts($event)"
    />
    @if (searchTerm()) {
    <button class="clear-search-btn" (click)="clearSearch()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="16"
        height="16"
      >
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
        />
      </svg>
    </button>
    }
  </div>

  <div class="side-wrapper contacts">
    <div class="side-title">CONTACTS</div>
    @for (contact of filteredContacts(); track contact.name) {
    <div class="user">
      <img [src]="contact.img" class="user-img" />
      <div class="username">
        {{ contact.name }}
        <div
          class="user-status"
          [class.offline]="contact.status === 'offline'"
          [class.idle]="contact.status === 'idle'"
        ></div>
      </div>
    </div>
    }
  </div>
</div>
