<div class="social-auth-container">
  <picture>
    <img
      src="assets/images/Forgot-password.png"
      alt="Forgot Password Illustration"
    />
  </picture>
  <div class="social-auth-content">
    @if (isSubmitted()) {
      <div class="success-message">
        <h1 class="social-auth-title">Reset link sent!</h1>
        <p>We've sent a password reset link to your email address.</p>
        <p>Please check your inbox and follow the instructions.</p>
        
        <ul class="social-feature-list">
          <li class="social-feature-item">
            <span class="social-feature-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                />
              </svg>
            </span>
            <span>Link expires in 1 hour</span>
          </li>
          <li class="social-feature-item">
            <span class="social-feature-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                />
              </svg>
            </span>
            <span>Check your spam folder if you don't see it</span>
          </li>
        </ul>
        
        <button class="social-btn" (click)="isSubmitted.set(false)">Resend Link</button>
      </div>
    }
    @else {
      <h1 class="social-auth-title">Forgot your password?</h1>
      <p>Enter your email address and we'll send you a link to reset it.</p>
      
      <ul role="list" class="social-feature-list">
        <li>
          <span class="social-feature-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
              />
            </svg>
          </span>
          Secure password reset link
        </li>
        <li>
          <span class="social-feature-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
              />
            </svg>
          </span>
          No access to account required
        </li>
        <li>
          <span class="social-feature-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
              />
            </svg>
          </span>
          Easy email-based reset flow
        </li>
      </ul>

      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="social-form">
        <div class="social-form-group">
          <label for="email">Email address</label>
          <div class="input-wrapper">
            <input
              placeholder="email@company.com"
              type="email"
              id="email"
              formControlName="email"
              [class.invalid]="emailIsInvalid"
            />
          </div>
          
          @if (emailIsInvalid) {
          <div class="control-error">
            @if (email?.errors?.['required']) {
            <span>Email is required</span>
            } 
            @if (email?.errors?.['pattern']) {
            <span>Please enter a valid email address</span>
            }
          </div>
          }
        </div>

        <button 
          type="submit" 
          class="social-btn" 
          [disabled]="reactiveForm.invalid || isLoading()"
        >
          @if (isLoading()) {
            <span class="spinner"></span>
          } @else {
            Send Reset Link
          }
        </button>
      </form>
      
      <div class="back-to-login">
        <a routerLink="/auth/sign-in">Back to Sign In</a>
      </div>
    }
  </div>
</div>