<div
  class="comment-box__item"
  [class.comment-box__item--reply]="isReply"
  [class.comment-box__item--active]="isActive"
>
  <div class="comment-box__content">
    <div class="comment-box__reactions">
      <button class="comment-box__reaction-btn" aria-label="Like comment">
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="var(--clr-icon)"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.4626 3.99415C16.7809 2.34923 14.4404 3.01211 13.0344 4.06801C12.4578 4.50096 12.1696 4.71743 12 4.71743C11.8304 4.71743 11.5422 4.50096 10.9656 4.06801C9.55962 3.01211 7.21909 2.34923 4.53744 3.99415C1.01807 6.15294 0.221721 13.2749 8.33953 19.2834C9.88572 20.4278 10.6588 21 12 21C13.3412 21 14.1143 20.4278 15.6605 19.2834C23.7783 13.2749 22.9819 6.15294 19.4626 3.99415Z"
          />
        </svg>
      </button>
      <hr class="comment-box__divider" />
      <button class="comment-box__reaction-count" aria-label="View likes">
        {{ comment.likes }}
      </button>
    </div>

    <div class="comment-box__body">
      <div class="comment-box__user">
        <div class="comment-box__avatar">
          <img [src]="comment.author.avatar" [alt]="comment.author.name" />
        </div>
        <div class="comment-box__user-info">
          <span class="comment-box__username">{{ comment.author.name }}</span>
          <time class="comment-box__timestamp">{{
            comment.timestamp | date : "short"
          }}</time>
        </div>
      </div>

      <p class="comment-box__text">{{ comment.content }}</p>

      <button class="comment-box__reply-btn" (click)="onReplyClick()">
        Reply
      </button>
    </div>
  </div>

  <!-- Replies -->
  @if (comment.replies && comment.replies.length > 0) {
  <div class="comment-box__replies">
    @for (reply of comment.replies; track reply.id) {
    <app-comment
      [comment]="reply"
      [isReply]="true"
      [isActive]="isActive"
      (replyClicked)="onReplyClick()"
    ></app-comment>
    }
  </div>
  }
</div>
